<div id="wrapper">
  <img src="/assets/images/naslovna.jpg">
</div>
<div class="home-row-one col-md-4">
  <img class='home-row-image' src="/assets/images/info.png"><br>

  <h3>Čime se mi bavimo ?</h3> <br>
  <p>„Up Signal“ d.o.o. Sarajevo, kompanija zasnovana na integritetu, poštovanju i
    usklađenosti sa zakonima, prvi je privatni telekom operater u Bosni i Hercegovini koja je
    iskoristila mogućnosti liberaliziranog tržišta i u kratkom roku postala predvodnikom promjene. <br><br>
    Poduzetničkim poduhvatom osnivača, ušla je u historiju kao kompanija koja je svojim
    korisnicima pružila kvalitetu telekomunikacionih usluga sa najvišim svjetskim standardima.</p>

  </div>
  <div class="home-row-two col-md-4">
  <img src="/assets/images/meal.png" class="home-row-image"><br>
    <h3>Šta nudimo? </h3> <br>
    <p>U
      okviru svog poslovanja „Up Signal“ telekom pruža sljedeće usluge: <br>
      <br>Fiksne usluge – privatni/poslovni korisnici.
      <br>Mobilne usluge – privatni/poslovni korisnici.
      <br>Analogne i digitalne kablovske usluge.
      <br>Pristupa internetu i web hosting.
      <br>Uređaja i opreme za prethodno navedene usluge (fiksni i mobilni uređaji te terminalnu
      opremu).
      <br>Servisiranje opreme.</p>
    </div>
    <div class="home-row-three col-md-4">
      <img src="/assets/images/support.png" class="home-row-image"><br>
      <h3>Kako nas kontaktirati? </h3> <br>
      <p>Adresa : <br> Zmaja od Bosne bb <br>
        <br> Broj Telefona : <br>
        +38733656555 <br>
        +38761200555 <br><br>
        Email adresa: <br>
        info@upsignal.com
      </p>
    </div>

