 <div id="fullBg" />

<div class="container">
    <form class="form-signin">
      {{input type="text" class="form-control" placeholder="korisničko ime" required="" autofocus="" value=model.username}}
      {{input type="password" class="form-control" placeholder="šifra" required="" value=model.password}}
      <button class="btn btn-lg btn-primary btn-block" type="submit" {{action 'login'}}>PRIJAVA</button>
    </form>

</div>