 <div id="fullBg" />

<div class="container">
  <form class="form-signin">
      <input type="text" class="form-control" name="username" placeholder="korisničko ime" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="šifra" required=""/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">PRIJAVA</button>
      <br><p class="text-center sign-up"><strong>Registrujte</strong> se za novi korisnički račun</p>
    </form>
</div>