<div class="container new-service-body">
 <div class="panel panel-default">
   <div class="panel-body">
    <h4>Unesite podatke o novoj uslugi:</h4>
    </div>
    <div class="panel-body register-form__footer">
    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Naziv usluge:</label>
    <input class="form-control">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Cijena usluge:</label>
    <input class="form-control">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Tip usluge:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Tip 1</option>
      <option>Tip 2</option>
      <option>Tip 3</option>
      <option>Tip 4</option>
      <option>Tip 5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Opis usluge</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="btn btn-lg btn-primary col-md-2" type="submit">UNOS</button>
</form>
</div>
</div>
</div>