<div class="list-top">
  <p>NEWS</p>
</div>
<div class=" news-row">

  <div class="col-md-5 news-item panel">
    <img class='news-item-image' src="/assets/images/news2.png"><br>
    <h3>Da imate Net i kad nemate WiFi.</h3>
    <p>Uz prepaid mobilni Internet imate najbolju kontrolu potrošnje svog Interneta. Dok uz prepaid Data SIM karticu možete da koristite Internet u pokretu na svom omiljenom tablet uređaju ili laptopu sa SIM slotom.<br>
      Ukoliko vam Prepaid mobilni Net paket nije potreban zato što imate tablet ili računar sa integrisanim modemom, na raspolaganju vam je prepaid Data SIM kartica sa inicijalnih 300 MB za prenos podataka i 5 KM kredita, koje možete da iskoristite 30 dana od dana aktivacije.<br>
      Cijena Data SIM kartice iznosi 5 KM i kada potrošite inicijalni kredit, vašu SIM karticu za prenos podataka možete dopuniti na bilo koji od uobičajenih načina za prepaid dopune.</p>
    </div>

    <div class="col-md-5 news-item panel">
      <img class='news-item-image' src="/assets/images/news4.jpg"><br>
      <h3>Nema da nema surfanja i poziva ovo ljeto uz novu Za Chill tarifu </h3>
      <p>Uz kompletnu Za Chill tarifu, korisnici za 20 KM mjesečno na raspolaganju imaju 1000 minuta razgovora i SMS-ova te 3 GB podatkovnog prometa. Za one još opuštenije, dostupna je Za Zen tarifa, koja uključuje 1000 minuta i SMS-ova te čak 6 GB prometa po cijeni od 25 KM.
        Surferima je za 12.5 KM mjesečno na raspolaganju Za Snap tarifa koja uključuje 2 GB podatkovnog prometa, dok je onima koji biraju samo razgovore i SMS-ove po cijeni od 12. 5 KM mjesečno na raspolaganju 500 minuta i SMS-ova unutar tarife Za Ziv. Sve četiri nove tarife dolaze bez naknade za uspostavu poziva, koju je UpSignal ukinuo pažljivo osluškujući želje svojih korisnika.

      </p>
    </div>

  </div>
<div class= " news-row">
  <div class="col-md-5 news-item panel">
    <img class='news-item-image' src="/assets/images/news1.png"><br>
    <h3>Kupi UpSignal prepaid i aktiviraj dodatak UpSignal besplatno u okviru kojeg dobijaš</h3>
    <p>100 minuta ka svim mrežama
      1000 minuta u mreži i
      10 GB interneta,
      koji važe 7 dana
      i po 10 GB besplatnog interneta
      za 2 aplikacije po izboru, koji važi neograničeno. <br>

      Promocija važi do 01.05.2018. godine. Saobraćaj iz UpSignal Besplatno dodatka važi u nacionalnom saobraćaju 7 dana od trenutka aktivacije. Aktivacija 20 GB za 2 aplikacije po izboru (10GB + 10GB) vrši se putem Moj UpSignal aplikacije  ili portala. <br>Uz Moj UpSignal  aplikaciju u svakom trenutku možeš da aktiviraš aplikacije koje želiš da koristiš, ali i da ostvariš uvid u preostali kredit ili aktiviraš druge pripejd dodatke i kampanje iz ponude.
    </p>
  </div>

  <div class="col-md-5 news-item panel">
    <img class='news-item-image' src="/assets/images/news3.jpg"><br>
    <h3>Chillaj uz novu UpSignal Tarifu !</h3>
    <p>UpSignal korisnici od sada mogu odabrati jednu od četiri nove tarife, a velika novost je uvođenje šest jedinstvenih „snack“ dodatnih opcija prilagođenih svačijem budžetu.
      Korisnicima je na raspolaganju uključenje dodatnih „snack“ opcija megabajta te minuta i SMS-ova već od 1 KM . Problem manjka megabajta pri kraju mjeseca tako odlazi u prošlost , a UpSignalove korisnike dodatno će razveseliti činjenica da nove prepaid tarife za mlade pod nazivom - Za Ziv, Za Snap, Za Chill i Za Zen, dolaze bez naknade za uspostavu poziva.

    </p>
  </div>
</div>
