.news-item {
  background-color:$gray-background-color;
  text-align: center;
  width: 600px;
  margin: 30px;
}

.news-item-image{
  width: 560px;
  padding:0px;
  margin-top: 10px;
  height: auto;
}

.news-row {
  margin-left: 70px;
}