.news-item {
  background-color:white;
  @include box-shadow(grey 2px 2px 10px);
  text-align: center;
  width: 600px;
  margin: 30px;
  padding: 10px;
  padding-bottom: 18px;
}

.news-item-image{
  padding:0px;
  margin-top: 10px;
  height: auto;
}

.news-row {
  margin-left: 70px;
}